mqtt:
  host: 192.168.x.x          # IP of your Mosquitto broker
  port: 1883
  username: "your_username"
  password: "your_password"
  qos: 1

  mqtt_topic_prefix: "sprinkler"        # prefix for all MQTT topics; change for testing

device:
  name: "OpenBK7231N_XXXXXXXX"

zones:
  - id: 1
    name: "Zone 1"
    channel: 31
  - id: 2
    name: "Zone 2"
    channel: 32
  - id: 3
    name: "Zone 3"
    channel: 33

rainsensor:
  channel: 10

failsafe:
  max_seconds: 600
  poll_seconds: 3

timezone: "Europe/Budapest"

dry_run: false

programs:
  - id: 1
    name: "Reggeli öntözés"
    active: true
    rain_skip: true
    schedule:
      type: "daily"       # "daily", "weekly", "once"
      time: "06:00"
      days: []            # for weekly: [mon, tue, wed, thu, fri, sat, sun]
      date: ""            # for once: "2026-04-01"
    steps:
      - zone_id: 1
        minutes: 10
      - zone_id: 2
        minutes: 8
      - zone_id: 3
        minutes: 12
